@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&display=swap');

body{
    background-color: rgb(0, 0, 0);
    padding: 5px;
    width: 684px;
    margin-left: 5%;
    
}


.card{
    background-color: #14143f ;
    border-radius: 3px 0px 0px 3px;
    display:flex;
    padding-left: 25%;
    margin:80px
    
}

.title{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    margin:-28%;
    margin-top:10px;
    margin-left: -35%;
    
}



.txt1{
    color: rgb(151, 150, 150);
    font-family: 'Inter', sans-serif;
    margin-left: -5px;
    font-size: medium;
}

.count{
    display: flex;
    margin-left:-40%;
    word-spacing: 1px;
    margin-top: 25px;
}

.text{
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    font-size:medium;
    margin-top: 15px;
} 

.num{
    color: white;
    font-family: 'Inter', sans-serif;
}


span{
    color: blueviolet;
}

.number{
    padding: 15px;
}

.imagen1{
    display:flex-end;
    height: 400px;
    background-color: blueviolet;
     
}

.img1{
    border-radius: 0px 3px 3px 0px;
    width: 600px;
    height:400px;
    opacity: 0.4;
    
     
}

.descripcion{
    margin-left: -118px;
    margin-top: 150px;
}